@import "../fonts.css";
@import "../animation.css";

body {
    height: 100vh;
    height: 100svh;
    background-color: #60CDB5;
    color: #FFF;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

#page_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: calc(75% - 240px);
}

#title_word {
    font-family: "junegull";
    font-size: 40px;
}

#level_words {
    font-family: "ConcertOne";
    font-size: 25px;
}

#main {
    background-color: #60CDB5;
    height: 80%;
    width: 100%;
    padding: 10px 30px 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#question_frame {
    position: relative;
    width: 336px;
    height: 256px;
    border: solid 8px #FEE2A0;
    border-radius: 20px;
    background-color: black;
    margin-top: 10px;
}

#question_frame img {
    width: 320px;
    height: 240px;
    border-radius: 10px;
}

#emo_description {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -60%);
    font-size: 40px;
    font-family: "junegull";
    text-shadow: 3px 3px black;
}

#game_part {
    position: relative;
    width: 336px;
    height: 256px;
    margin-top: 10px;
}

#result_frame {
    width: 336px;
    height: 256px;
    border: solid 8px #FEE2A0;
    border-radius: 20px;
    background-color: #D9D9D9;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#result_point {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "junegull";
    font-size: 35px;
}

#result_questions {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.result_elements {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 25px;
    font-family: "ConcertOne";
    padding-left: 30px;
}

.result_elements div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.number_of_question {
    width: 30px;
    height: 100%;
}

.emotion_type {
    width: 80px;
    height: 100%;
}

.right_or_wrong {
    width: 30px;
    height: 100%;
    color: red;
}

video {
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
    background-color: black;
    z-index: -1;
}

canvas {
    position: absolute;
    border: solid 8px #FEE2A0;
    background-color: black;
    border-radius: 20px;
    top: 0;
    left: 0;
    z-index: 1
}

#correct_answer_container,
#wrong_answer_container {
    border: solid 8px #FEE2A0;
    position: absolute;
    border-radius: 20px;
    top: 0;
    left: 0;
    width: 336px;
    height: 256px;
    z-index: 2;
    display: none;
    background-color: rgb(255, 255, 255, 0.5);
    animation-duration: 0.5s;
    animation-name: animate-pop;
    animation-timing-function: cubic-bezier(.26, .53, .74, 1.48);
}

#correct_answer {
    width: 320px;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 90px;
    color: rgb(0, 86, 0);
}

#wrong_answer {
    width: 320px;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 90px;
    color: red;
}

#question_mobile {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 50%;
    transform: translate(-50%, -40%);
    z-index: 2;
    font-family: "junegull";
    font-size: 40px;
    text-shadow: 2px 2px black;
    min-width: 280px;
}

#result_mobile {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 40%);
    z-index: 2;
    font-family: "ConcertOne";
    font-size: 30px;
    text-shadow: 2px 2px black;
    min-width: 280px;
}

#page_bottom {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#footer {
    background-color: #FEE2A0;
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#count_down_to_start {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 10;
    font-family: "junegull";
    font-size: 300px;
    justify-content: center;
    align-items: center;
    color: #60CDB5;
}

#timer {
    font-size: 50px;
    color: #FEE2A0;
    font-family: "junegull";
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#left,
#colon,
#right {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

/* Mobile Responsive */
@media (max-width: 1200px) {

    #question_frame,
    #result_frame {
        display: none;
    }

    #question_mobile,
    #result_mobile {
        display: flex;
    }
}

@media (max-width: 440px) {

    #game_part,
    #question_frame,
    #result_frame,
    #correct_answer_container,
    #wrong_answer_container,
    video,
    canvas {
        width: 296px;
        height: 256px;
    }

    #question_frame img,
    #correct_answer,
    #wrong_answer {
        width: 280px;
    }
}