@import "./fonts.css";
@import "./animation.css";

body {
    height: 100vh;
    background-color: #60CDB5;
    color: #FFF;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

#main {
    background-color: #60CDB5;
    height: 80%;
    width: 100%;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#footer {
    background-color: #FEE2A0;
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#how_to_play_button {
    cursor: pointer;
}

#how_to_play_button:hover {
    opacity: 0.8;;
}

#how_to_play_button img {
    width: 150px;
}

#cam {
    position: relative;
    width: 496px;
    height: 256px;
}

video {
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
    background-color: black;
    z-index: -1;
}

canvas {
    position: absolute;
    border: solid 8px #FEE2A0;
    background-color: black;
    border-radius: 20px;
    top: 0;
    left: 0;
    z-index: 1
}

#page_title {
    width: 100%;
    height: calc(75% - 240px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.title_word {
    font-family: "junegull";
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#page_bottom {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

#smile_text {
    width: 100%;
    height: 50%;
    font-family: "ConcertOne";
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

#smile_line {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#smile_line img {
    width: 250px;
}

#game_started_container {
    border: solid 8px #FEE2A0;
    position: absolute;
    border-radius: 20px;
    top: 0;
    left: 0;
    width: 496px;
    height: 256px;
    z-index: 2;
    display: none;
    background-color: rgb(255, 255, 255, 0.5);
    animation-duration: 0.5s;
    animation-name: animate-pop;
    animation-timing-function: cubic-bezier(.26, .53, .74, 1.48);
}

#game_started {
    width: 480px;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 90px;
    color: rgb(0, 86, 0);
}

/* Modal */
#introModal {
    font-family: "ConcertOne";
}

#introModal .modal-content{
    background-color: #60CDB5;
    border: solid 6px #FEE2A0;
}

#introModal .btn-close {
    background: transparent url("./assets/cross_mark.svg") center/1em auto no-repeat;
}